<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= @title || "St Hugh's Ball" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="homeButton" class="navbar-brand navbar-toggle" href="#">Home</a>
        </div>
        <div class="hidden-xs collapse navbar-collapse navbar-left">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', '#home', class: 'navbar-brand' %> </li>
            <li><a href="#food">Food</a></li>
            <li><a href="#drinks">Drinks</a></li>
            <li><a href="#enter">Entertainment</a></li>
          </ul>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <%= render 'layouts/navigation_links' %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <body data-spy="scroll" data-target = ".navbar" data-offset="100" id="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h1>St Hugh's Ball </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. </p>
    <%= link_to "Register!", new_user_registration_path, class: "btn btn-large btn-primary" %>
        <br>
      </div>
    </div>

    <div class="container"> 
      <div class="row featurette" id="food">
        <div class="col-sm-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-sm-5">
          <img class="featurette-image img-responsive" src="http://lorempixel.com/350/350/cats/10" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="drinks">
        <div class="col-sm-5">
          <img class="featurette-image img-responsive" src="http://lorempixel.com/350/350/cats/3" alt="Generic placeholder image">
        </div>
        <div class="col-sm-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="enter">
        <div class="col-sm-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-sm-5">
          <img class="featurette-image img-responsive" src="http://lorempixel.com/350/350/cats/4" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-7">
          <h2 class="featurette-heading" id="music">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-sm-5">
          <img class="featurette-image img-responsive" src="http://lorempixel.com/350/350/cats/5" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-sm-7">
          <h2 class="featurette-heading" id="venue">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-sm-5">
          <img class="featurette-image img-responsive" src="http://lorempixel.com/350/350/cats/6" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
