<script src="https://checkout.stripe.com/checkout.js"></script>

<div class="row">
  <h1>Tickets</h1>
  <div class="col-s-7">
    <h3> New Tickets </h3>
    <% if current_user.tickets.size  >= User::MAX_TICKETS%>
      <p> You've already bought <%= current_user.tickets.size %> tickets, and can't buy any more. See you at the ball! </p>
    <% else %>
      <p> You've bought <%= pluralize(current_user.tickets.size, 'ticket') %> and can still buy <%= User::MAX_TICKETS - current_user.tickets.size %> more. </p>
      <%= form_tag(tickets_path, method: "post", role: 'form') do %>
        <div id="ticketForm">
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-s-5">
    <% if current_user.tickets.any? %>
      <h3> Purchased tickets (<%= current_user.tickets.count %>) </h3>
      <ol class="tickets">
        <%= render current_user.tickets %>
      </ol>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var  ordinals = ["Zeroth", "First", "Second", "Third", "Fourth", "Fifth"];

  var  maxTickets = <%= User::MAX_TICKETS %>;
  var  userTickets = <%= current_user.tickets.size %>;
  var  currTickets = 0;

  function ticketForm() {
     return "<legend>" + ordinals[currTickets + userTickets] + " Ticket </legend> <div class=\"form-group\"> <label for=\"first_name_" + currTickets + "\">First name:<\/label> <input class=\"form-control\" name=\"tickets[" + currTickets + "][first_name] \" type=\"text\"\/> <\/div> <div class=\"form-group\"> <label for=\"last_name_" + currTickets + "\">Last name:<\/label> <input class=\"form-control\" name=\"tickets[" + currTickets + "][last_name] \" type=\"text\"\/><\/div> <div class=\"form-group\"> <label for=\"bod_num_" + currTickets + "\">Bod card number:<\/label> <input class=\"form-control\" name=\"tickets[" + currTickets + "][bod_num] \" type=\"text\"\/><\/div>"; 
  };

  if (currTickets + userTickets < maxTickets) {
    $('#ticketForm').append("<p> <a class=\"btn btn-success mobileHoverFix\" id=\"addTicketButton\">Add ticket</a> </p>");
  }

  function addTicketField() {
    if (currTickets == 0) {
      $('form').append("<p> <a class=\"btn btn-primary\", type=\"submit\", id=\"purchaseButton\">Purchase &raquo;</a> </p>");
    }
    currTickets++;
    $('#ticketForm').append(ticketForm());

    if (userTickets + currTickets >= maxTickets) {
      $('#addTicketButton').detach();
    }
  };

  $('#addTicketButton').click(function(){
    addTicketField();
  });

  function pluralizeTickets() {
    if (currTickets == 1){
       return " Ball Ticket";
    }
    return " Ball Tickets";
  };


  $("form").on("click", "#purchaseButton", function(){
    var token = function(res){
      var $input = $('<input type=hidden name=stripeToken />').val(res.id);
      $('form').append($input).submit();
    };

    StripeCheckout.open({
      key:         'pk_test_9LtVL6Rlr6TxJaJld74wW4kO',
      amount:      currTickets * 9000,
      name:        'St Hugh\'s Ball',
      currency:    'GBP',
      description: currTickets + pluralizeTickets(),
      panelLabel:  'Checkout',
      email:       "<%= j current_user.email %>",
      allowRememberMe: false,
      token:       token
    });
    return false;
  });
  $("button").on("touchstart", function(){ 
      $(this).removeClass("mobileHoverFix");
  });
  $("button").on("touchend", function(){ 
      $(this).addClass("mobileHoverFix");
  });
</script>
