<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag "ticket" %>
<%= stylesheet_link_tag "ticket", media: "all", "data-turbolinks-track" => true %>

<% curr_tickets = current_user.tickets.size; max_tickets = User::MAX_TICKETS %>

<div class="row">
  <div class="col-sm-12">
    <h1>Tickets</h1>
  </div>
    <div class="container">
    <div class="col-sm-7">
      <h3>New Tickets </h3>
      <% if curr_tickets  >= max_tickets %>
        <%= content_tag "p", id: "ticketInfo", data: {
          email: current_user.email,
          discount: 0,
          curr_tickets: curr_tickets,
          max_tickets: max_tickets
        } do %>
          You've already bought <strong> <%= curr_tickets %> </strong> tickets, and can't buy any more. We look forwards to seeing you at St Hugh's Ball.
        <% end %>
      <% else %>
        <%= content_tag "p", id: "ticketInfo", data: { 
          email: current_user.email,
          discount: (current_user.college == "st-hughs" && curr_tickets == 0) ? 500 : 0, 
          curr_tickets: curr_tickets,
          max_tickets: max_tickets
        } do %>
        You've bought <strong> <%= pluralize(curr_tickets, 'ticket') %> </strong> 
        and can still buy <strong> <%= max_tickets - curr_tickets %> </strong> more. 
        <% end %>
        <p>Tickets are bound by our <%= link_to "terms and conditions", '#' %>.</p>
        <%= form_tag(tickets_path, method: "post", role: 'form') do %>
          <div id="ticketForm">
          </div>
        <% end %>
      <% end %>
    </div>
    <% if curr_tickets != 0 %>
      <div class="col-sm-5">
        <h3> Purchased tickets (<%= curr_tickets %>) </h3>
        <ol class="tickets">
          <%= render current_user.tickets %>
        </ol>
      </div>
    <% end %>
  </div>
</div>
