<script src="https://checkout.stripe.com/checkout.js"></script>



<h1>Purchase tickets</h1>
<div class="row">
  <div class="col-md-12">
    <% if current_user.tickets.size  >= User::MAX_TICKETS%>
      <p> You can't buy any more tickets. Sorry! </p>
    <% else %>
      <p> You can buy <%=  pluralize(User::MAX_TICKETS - current_user.tickets.size, 'tickets') %>. </p>
      <%= form_tag(tickets_path, method: "post") do %>
        <%= text_field "person", "name", "size" => 20 %>
      <p> <a class="btn btn-primary", id="customButton">Purchase &raquo;</a> </p>
    <% end %>
  </div>
</div>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_9LtVL6Rlr6TxJaJld74wW4kO',
    currency: 'GBP',
    allowRememberMe: false,
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      $.ajax({
        url: "<%= j charges_path %>",
        type: 'POST',
        data : { stripeToken: token.id }
      });
    }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'St Hugh\'s Ball',
      description: '2 widgets ($20.00)',
      email: "<%= j current_user.email %>",
      amount: 2000
    });
    e.preventDefault();
  });
</script>
